.movie-post {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-post-bg {
  background-color: rgb(85, 79, 79);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie-post-content {
  position: relative;
  max-width: 1200px;
  background-color: black;
}

.movie-post-content img {
  display: block;
  max-width: 400px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.movie-post-content h4 {
  color: white;
  text-align: center;
}
